.single_cocktail {
    border: 2px solid black;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.single_cocktail img {
    object-fit: contain;
    height: 50%;
}
.single_cocktail button{
    position: absolute;
    top: 0%;
    right: 10%;
}
.single_cocktail ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: larger;
}
.cocktail_type {
    font-size: x-large;
}
.cocktail_name {
    font-size: larger;
}