.cocktail_list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.cocktail_card {
    width: 180px;
    height: 250px;
}
.cocktail_card img {
    object-fit: contain;
    width: 100%;
    height: 80%;
}
